body {
  background-color: whitesmoke;
}
body, html {
  width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: whitesmoke;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: goldenrod;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Quicksand-Regular;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: gold;
  color: darkslategrey;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: goldenrod;
  color: white;
}

* {box-sizing:border-box}